spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?user=postgres.jeenwjbvzjvbpmpllepp&password=eornjs1449.
  jpa:
    hibernate:
      ddl-auto: create